@tailwind preflight;

@tailwind components;

@tailwind utilities;

.img-responsive {
    width: 100%;
    height: auto;
}

.ingre .ing:after {
    content: ', '
}

.ingre .ing:last-child:after {
    content: ''
}